
#MakerSpaceHeader
{
  display:flex;
  background-color: #005696;
   border:solid black 3px;
    border-radius: 2px;
   width:auto;
   max-height: 210px;
   
   

}
#MoorparkCollegeLogo
{
  
   width: 360px; 
   height: 198px;  
}
#MoorparkCollegetxt
{
  align-self: center;
  font-size: 70px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#Makerspacetxt
{
  text-align: center;
  align-self: stretch;
  font-size: 140px;
  padding-left: 120px;
}



