#MakerSpaceHeader
{
  display:grid;
  background-color: #005696;
  border:solid black 2px;
  border-radius: 2px;
  width:auto;
  min-width: 1850px;
  grid-template-columns: 150px auto auto auto;
  grid-template-rows: 180px auto auto auto ;
  column-gap: 20px;
}
#MenuToggle
{
  /*padding-top: 10px;
  align-self: center;
  justify-self: left;
  margin-left: 40px;
  width: 75px;*/
  position: absolute;
  top: 70px;
  left:50px;
  width: 60px;
  
}
#MenuToggle:hover
{
  filter:opacity(50%);
}
#MoorparkCollegetxt
{
  position: relative;
  right: -40px;
  color:#74B3DF;
  align-self: center;
  font-size: 410%;
  text-align: center;
  font-family: "Nanum Myeongjo",Georgia, 'Times New Roman', Times, serif;
  grid-column-start: 2;
}
#HeaderPhoto
{
  /* padding-left: 100px;
   width: 360px; 
   height: 198px; For Moopark College Logo*/
  position: relative;
  right: -20px;
  top: -60px;
  justify-self: center;
  align-self:center;
  grid-column-start: 3;
  width:320px;
}
#Makerspacetxt
{
  justify-self: center;
  align-self: center;
  margin-right: 30px;
  font-size: 890%;
  font-family:"Love Ya Like A Sister", fantasy;
  font-stretch: expanded;
  color: white;
}
#SidebarMenu
{
  display:grid;
  position: absolute;
  top: 0;
  justify-self:left;
  min-height: 910px;
  background-color:#74B3DF;
  border: solid black 2pt;
  align-items: start;
  grid-template-columns: 160px;
  grid-template-rows: auto auto auto;
}
#SidebarPhoto
{
  position: relative;
  bottom: -220px;
  margin-left: -10%;
  width:200px;
  
}
.SidebarLinks
{
  list-style: none;
  margin: 20px auto auto -30px;
  font-family: "Love Ya Like A Sister", Impact; 
  font-size: 20px;
}
.SidebarLinks > a:link
{
  color:black
}
.SidebarLinks > a:visited
{
  color:black
}
.SidebarLinks > a:hover
{
  color:white
}
.SidebarLinks > a:active
{
  color:blue
}

.NoUnderlineLink
{
  text-decoration: none;
}




