.logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 40px; /*TODO Adjust the height*/
    width: auto;
  }
  
.brand-name {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 10px;
  }