.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Adjusts spacing between icon and text */
    width: 24px; /* Set a fixed width for icon containers */
    height: 24px; /* Set a fixed height for icon containers */
}

.ant-menu-item, .ant-menu-submenu-title {
    display: flex !important;
    align-items: center !important;
}

.ant-menu-title-content {
    flex-grow: 1;
    text-align: left;
}